*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  width: 100vw;
  background-image: url('./image/mountains-1645078_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container{
  width: 60%;
  max-width: 30rem;
  min-width: 20rem;
  height: 30rem;
  position: relative;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
  padding: 2rem 2rem;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0.3rem;
  color: white;
}
input{
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 2px;
  border:none;
}
.details{
  margin-top:3rem;
}
.city{
  font-size: 2.5rem;
  font-weight: bolder;
}
.weather-details{
  margin-top: 2rem;
  display:flex;
  justify-content: space-between;
}
.temp,.feels-like{
  font-size: 1.5rem;
  font-weight: bolder;
}